<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Vue 8</title>
</head>

<body>
    <div id="app">
        <input @keyup.tab="console.log(1)" type="text">
        <form>
            <input v-model='cb' type="checkbox" value="tes"> tes
            <input v-model='cb' type="checkbox" value="lo"> lol
        </form>
        <p>
            {{cb}}
        </p>
        <br><br>
        <tes-button @add-printx="printx += 1"></tes-button>
        <p>{{printx}}</p>
    </div>



    <script src="app.js"></script>
</body>

</html>