<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <title>Vue 7</title>
</head>

<body>
    <!-- <div id="app">
        <button @click="tf=!tf">Click me</button>
        <template v-if="tf">
            <h1>Hello</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto iste dicta, voluptatem nisi odit earum.
                Illo dignissimos quasi non asperiores!</p>
        </template>
        <br><br>
        <ul>
            <li v-for="(data, key, index) in book1" :key="index">
                {{index+1}}. {{key}}:{{data}}
            </li>
        </ul>

    </div>

    <script src="app.js"></script> -->
    <script src="new.js"></script>
</body>

</html>