* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

nav {
    position: relative;
    width: 20%;
    border-right: 3px solid black;
}

#fix-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
}

nav header {
    padding: 10px 0;
    text-align: center;
    font-size: 30px;
}

#nav-links {
    display: flex;
    flex-direction: column;
}

.nav-link {
    display: block;
    padding: 20px 0 20px 10px;
    border-top: 1px solid;
    text-decoration: none;
    color: #333;
}

#last-nav-link {
    border-bottom: 1px solid;
}

main {
    width: 80%;
    padding: 25px;
}

main header {
    font-size: 30px;
}

textarea {
    display: block;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    margin-bottom: 10px;
    overflow: auto;
    width: auto;
    padding: 5px;
    background-color: #eee;
    width: 800px;
    padding-bottom: 20px;
    max-height: 600px;
}